# Ignore รหัสผ่านฐานข้อมูลและไฟล์คอนฟิกหลัก
wp-config.php

# Ignore ไฟล์รูปภาพและสื่อ (มันหนักเกินไปสำหรับ GitHub แถมมีโอกาสพังง่าย)
wp-content/uploads/
wp-content/blogs.dir/
wp-content/upgrade/
wp-content/backup-db/

# Ignore ปลั๊กอินสำรองข้อมูล (พวกไฟล์ที่เราโหลดมาตะกี้ ไม่ต้องเอาขึ้นไปครับ)
wp-content/updraft/
wp-content/ai1wm-backups/

# Ignore ไฟล์ระบบของตัว WordPress เอง (ดาวน์โหลดใหม่เมื่อไหร่ก็ได้)
wp-admin/
wp-includes/
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# Ignore ไฟล์ของระบบปฏิบัติการและโปรแกรม
.DS_Store
Thumbs.db
.vscode/