/*====================================================================
==  Products Style
====================================================================*/
.products{
  margin: 0 -15px;
  .shop-archive-item{
    float: left;
    width: 25%;
    &:nth-child(4n+1){
      clear: left;
    }
  }
}


 .shop-archive-item{
   padding: 15px;
   text-align: center;
   .fl-woo-item-inner-content{
     border: 1px solid #f2f6f7;
     transition: all .3s;
     position: relative;
     .yith-wcwl-add-to-wishlist{
       position: absolute;
       right: 20px;
       top: 15px;
       z-index: 3;
       .feedback{
         display: none;
       }
       .ajax-loading{
         display: none!important;
       }
       a.add_to_wishlist{
         color: #cccccc;
         font-size: 0;
         transition: .3s ease;
         &:before{
           font: normal normal normal 14px/1 FontAwesome;
           content: "\f004";
         }
       }
       .yith-wcwl-wishlistexistsbrowse,.yith-wcwl-wishlistaddedbrowse{
         a{
           transition: .3s ease;
           color: #cccccc;
           font-size: 0;
           &:before{
             font: normal normal normal 14px/1 FontAwesome;
             content: "\f004";
           }
         }
       }
     }
     .fl-woo-item-top-content{
       .fl-woo-image-cover{
          overflow: hidden;
         img{
           transition: .6s ease;
         }
         &:hover{
           img {
             transform: scale(1.1);
             transition: .6s ease;
           }
         }
       }
     }
     .fl-woo-item-bottom-content{
       margin-top: 25px;
       position: relative;
       .fl--woo-title-link{
         &:hover{
           h4{
             transition: .3s ease;
             opacity: .8;
           }
         }
         h4{
           transition: .3s ease;
           font-size: 18px;
           line-height: 1;
           margin-bottom: 0;
         }
       }
       .fl--woo-category-wrapper{
         margin-top: 5px;
         a{
           color: #666666;
           font-size: 14px;
           transition: .3s ease;
           &:hover{
             transition: .3s ease;
           }
         }
       }
       .fl--woo-add-to-cart-wrap {
         margin-top: 5px;
         display: flex;
         align-items: center;
         margin-bottom: 20px;
         .fl--add-to-cart-btn{

           display: flex;
           position: absolute;
           right: 0;
           bottom: -20px;
           left: 0;
           margin-top: 40px;
           font-size: .9rem;
           color: #fff;
           text-align: center;
           transform: translateY(100%);
           z-index: -1;
           perspective: 600px;
           transform-style: preserve-3d;

           a{
             line-height: 1;
             font-size: 12px;
             text-transform: uppercase;
             padding: 17px 30px;
             border-radius: 0;
             color: #fff;
             transition: .3s ease;
             width: 100%;
             display: table;
             transform: rotateX(-100deg);
             transform-origin: 0 0;
             backface-visibility: hidden;
             &:hover{
               transition: .3s ease;
             }
             &.added{
               display: none;
             }
           }
         }
         .fl--woo-price-wrap{
            width: 100%;
           text-align: center;
           font-size: 14px;
           color: #222222;
           del{
            color: #666;
             font-size: 12px;
           }
           ins{
              text-decoration: none;
           }
         }
       }
     }
   }
   &:hover{
     z-index: 2;
     position: relative;
     .fl-woo-item-inner-content{
       box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.12);
       transform: translateY(-30px);
       transition: .3s ease;
       .yith-wcwl-add-to-wishlist a.add_to_wishlist,.yith-wcwl-wishlistexistsbrowse a,.yith-wcwl-wishlistaddedbrowse a{
         transition: .3s ease;
       }
       .fl--woo-add-to-cart-wrap .fl--add-to-cart-btn{
         a{
           transform: rotateX(0);
         }
       }
     }

   }

 }







.price{
  .woocommerce-Price-amount+.woocommerce-Price-amount{
    &:first-child{
      margin-right: 3px;
    }
    &:last-child{
      margin-left: 3px;
    }
  }
}


.woocommerce{
  .shop-archive-item{
    span.onsale{
      background: #1c1f23;
    }
    span.onsale,span.new_item{
      position: absolute;
      text-align: center;
      color: #ffffff;
      right: 30px;
      left: auto;
      top: 30px;
      line-height: 1;
      min-width: auto;
      min-height: auto;
      border-radius: 0;
      padding: 5px;
      font-weight: 400;
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      z-index: 5;
    }
    &.sale{
      span.new_item{
        right: 69px;
      }
    }
  }
}


