.fl-action-content-wrapper-vc{
	margin: 0 -1px;
	//General style
	.vc-fl-action-content{
		position: relative;
		display: flex;
		&:before{
			right: 0;
			position: absolute;
			top: 0;
			bottom: 0;
			width: 560px;
			background-color: #f2f6f7;
			content: '';
			clip-path: polygon(100% 0, 100% 100%, 26% 100%, 0 38%, 23% 0);
		}
		.inner-content{
			color: #ffffff;
			position: relative;
			z-index: 1;
			display: inline-block;
			max-width: 520px;
			width: 100%;
			padding: 107px 45px 65px;
			clip-path: polygon(74% 0, 100% 65%, 76% 100%, 0 100%, 0 0);
			background-repeat: no-repeat;
			background-position: 50%;
			background-size: contain;
			.action-btn{
				cursor: pointer;
				position: relative;
				display: inline-block;
				padding-right: 20px;
				padding-left: 20px;
				line-height: 1;
				&:before{
					transform: rotate(135deg);
					display: block;
					width: 24px;
					height: 24px;
					color: white;
					border-top: 2px solid #fff;
					border-left: 2px solid #fff;
					content: '';
					transition:.3s ease;
				}
				&:after{
					left: 0;
					position: absolute;
					top: calc(50% - 1px);
					display: inline-block;
					width: 33px;
					height: 2px;
					background-color: #fff;
					content: '';
					transition:.3s ease;
				}
				&:hover{
					&:before{
						transition:.3s ease;
					}
					&:after{
						transition:.3s ease;
					}
				}
			}

			.action-title{
				margin-top: 30px;
				font-size: 27px;
				line-height: 1.2;
			}
			.action-content{
				margin-top: 10px;
				margin-bottom: 30px;
				font-size: 16px;
				max-width: 250px;
				display: inline-block;
			}
		}
		.action-image{
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 2;
			max-width: 36vw;
		}
	}
	// Left Style
	&.left-content-style{
		.vc-fl-action-content{
			justify-content: flex-end;
			&:before{
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: auto;
				width: 560px;
				background-color: #f2f6f7;
				content: '';
				clip-path: polygon(77% 0, 100% 38%, 74% 100%, 0 100%, 0 0);
			}
			.inner-content{
				text-align: right;
				clip-path: polygon(100% 0, 100% 100%, 24% 100%, 0 65%, 26% 0);
				.action-btn{
					&:before{
						transform: rotate(-45deg);
					}
					&:after{
						right: 0;
						left: auto;
					}
				}
			}
			.action-image{
				bottom: 0;
				right: auto;
				left: 0;
			}
		}
	}

}


/*-------------------------------------------------------------------

==  max-width 1600px

-------------------------------------------------------------------*/

@media screen and (max-width: 1600px) {
	.fl-action-content-wrapper-vc .vc-fl-action-content .action-image{
		max-width: 28vw;
	}
}

/*-------------------------------------------------------------------

==  max-width 1024px

-------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
	.fl-action-content-wrapper-vc .vc-fl-action-content .action-image{
		max-width: 26vw;
	}
}