.fl-contact-info-wrapper-vc{
	color: #fff;
	i{
		font-size: 20px;
		margin-right: 15px;
	}
	span{
		font-size: 24px;
		margin-right: 10px;
	}
	a{
		font-size: 28px;
		color: inherit;
		transition: .3s ease;
		&:hover{
			transition: .3s ease;
			opacity: .8;
		}
	}
}