.fl-about-us-form{
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	.input-container{
		padding: 0 15px;
		width: 33.3333%;
		label{
			color: #555555;
			display: block;
			font-size: 13px;
			margin-bottom: 13px;
		}
		select,input{
			border-radius: 0;
			background-color: #f2f6f7;
			border-color: transparent;
			&:hover,&:focus{
				box-shadow: 0 8px 22px 0 rgba(0,0,0,.1)!important;
				transition: .3s ease;
				background: #fff;
			}
		}
	}
	.textarea-container{
		padding: 0 15px;
		width: 100%;
		margin-bottom: 10px;
		label{
			color: #555555;
			display: block;
			font-size: 13px;
			margin-bottom: 13px;
		}
		textarea{
			height: 150px;
			background-color: #f2f6f7;
			border-color: transparent;
			&:hover,&:focus{
				box-shadow: 0 8px 22px 0 rgba(0,0,0,.1)!important;
				transition: .3s ease;
				background: #fff;
			}
		}

	}
	.submit-btn-container{
		padding: 0 15px;
		width: 100%;
		text-align: center;
		>div{
			display: inline-block;
			button{
				padding: 20px 50px;
				font-size: 13px;
				color: #fff;
			}
		}
	}
}


// Contact Form
.fl-contact-form{
	display: flex;
	flex-wrap: wrap;
	.input-container{
		width: 100%;
		display: block;
		label{
			color: #555555;
			display: block;
			font-size: 13px;
			margin-bottom: 13px;
		}
		select,input{
			border-radius: 0;
			background-color: #f2f6f7;
			border-color: transparent;
			&:hover,&:focus{
				box-shadow: 0 8px 22px 0 rgba(0,0,0,.1)!important;
				transition: .3s ease;
				background: #fff;
			}
		}
	}
	.textarea-container{
		width: 100%;
		margin-bottom: 10px;
		label{
			color: #555555;
			display: block;
			font-size: 13px;
			margin-bottom: 13px;
		}
		textarea{
			height: 150px;
			background-color: #f2f6f7;
			border-color: transparent;
			&:hover,&:focus{
				box-shadow: 0 8px 22px 0 rgba(0,0,0,.1)!important;
				transition: .3s ease;
				background: #fff;
			}
		}

	}
	.submit-btn-container{
		width: 100%;
		>div{
			display: inline-block;
			button{
				padding: 20px 50px;
				font-size: 13px;
				color: #fff;
			}
		}
	}
}