.fl-header-custom-content{
	position: relative;
	&:after{
		position: absolute;
		z-index: 1;
		right: 0;
		bottom: 0;
		left: 0;
		height: 400px;
		opacity: .8;
		background-image: linear-gradient(to top, #000 0%, transparent 100%);
		content: '';
	}
	.header-bg-container{
		justify-content: center;
		display: flex;
		position: relative;
		&:before{
			z-index: 2;
			content: '';
			position: absolute;
			width: 795px;
			top: 0;
			bottom: 0;
			left: calc(50% - 400px);
			background-color: #131313;
			opacity: 0.6;
			-webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
			clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
		}
		&:after{
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			content: '';
			opacity: .6;
			background-color: #1f1f1f;
		}
	}

	.custom-header-container{
		z-index: 3;
		display: flex;
		align-items: center;
	}
}