.fl-header-decor-text-wrapper-vc{
  .decor-header-text{
    display: inline-block;
    position: relative;
    letter-spacing: -.6px;
    font-size: 21px;
    &:after{
      content: '';
      position: absolute;
      right: 0;
      bottom: -10px;
      left: 0;
      display: block;
      height: 6px;
      clip-path: polygon(0 100%,100% 0,100% 100%);
    }
  }
}