.fl-hotspot-shortcode{
	position: relative;
	.HotspotPlugin_Hotspot{
		margin-top: -12.5px;
		margin-left: -12.5px;
		z-index: 200;
		width: 25px;
		height: 25px;
		position: absolute;
		cursor: pointer;
		&:after{
			content: "";
			display: block;
			width: calc(100% + 8px);
			height: calc(100% + 8px);
			background: rgba(255,255,255,0.3);
			position: absolute;
			top: -4px;
			left: -4px;
			z-index: 1;
			border-radius: 50%;
			animation: Fl_Hotspot_Animation 2s ease infinite;
		}
		&:before{
			content: "+";
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			border-radius: 50%;
			transform: scale(1);
			z-index: 2;
		}
		>div{
			background: #fff;
			min-width: 300px;
			top: auto;
			bottom: 100%;
			left: 50%;
			margin: 0 0 10px 0;
			&.hidden{
				transform: translate(-50%,0) scale(.55);
				opacity: 0;
				visibility: hidden;
			}
		}
	}
	.HotspotPlugin_Hotspot > div{
		font-size: 10px;
		display: block;
		flex-wrap: wrap;
		position: absolute;
		bottom: auto;
		top: 100%;
		left: 50%;
		margin-top: 15px;
		padding: 20px 15px;
		background: #fff;
		box-shadow: 7px 15px 70px 0 rgba(0,0,0,0.25);
		transform: translateX(-50%) scale(1);
		transition: all .3s ease .2s;
		z-index: 3;
		text-align: left;
		&:before{
			position: absolute;
			left: 50%;
			top: -10px;
			transform: translate(-50%,0);
			content: '';
			border-style: solid;
			border-width: 0 7px 10px 7px;
			border-color: transparent transparent #FFFFFF transparent;
		}
	}
	.close-item{
		display: none;
	}
	.Hotspot_Title{
		font-size: 17px;
		color: #222222;
		margin-bottom: 7px;
	}
	.Hotspot_Message{
		font-size: 13px;
		line-height: 1.6;
	}
}




@-webkit-keyframes Fl_Hotspot_Animation {
	0%,
	100% {
		-webkit-transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
	}
}







