.fl-list{
	.fl-list-ul{
		margin: 0;
		padding: 0;
		li{
			padding: 0;
			margin: 15px 0!important;
			&:before{
				display: none;
			}
			i{
				margin-right: 15px;
				font-size: 12px;
			}
			&:last-child{
				margin-bottom: 0!important;
			}
			&:first-child{
				margin-top: 0!important;
			}
		}
	}
}


