.fl-phone-number-wrapper-vc{
	// Style One
	&.phone-style-one{
		color: #222222;
		display: flex;
		align-items: center;
		i{
			display: inline-block;
			margin-right: 10px;
			font-size: 20px;
			transform: rotate(-90deg);
			vertical-align: middle;
		}
		.phone-text{
			margin-right: 10px;
		}
		.phone-number-link{
			background: #f2f6f7;
			color: #222222;
			padding: 15px 20px;
			line-height: 1;
			transition: .3s ease;
			&:hover{
				opacity: .7;
				text-decoration: underline;
				transition: .3s ease;
			}
		}
	}
	// Style Two
	&.phone-style-two{
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		.phone-text{
			font-size: 20px;
			margin-right: 15px;
		}
		.phone-style-two-content{
			display: inline-flex;
			align-items: center;
			background: #f2f6f7;
			padding: 15px 30px;
			line-height: 1;
			color: #222222;
			i{
				display: inline-block;
				margin-right: 7px;
				font-size: 18px;
				transform: rotate(-90deg);
				vertical-align: middle;
			}
			.phone-suffix-text{
				margin-right: 9px;
			}
			a{
				font-size: 17px;
				color: inherit;
				transition: .3s ease;
				&:hover{
					opacity: .7;
					text-decoration: underline;
					transition: .3s ease;
				}
			}
		}
	}
}