// Container
.fl-semi-circle-progress-container-content{
	display: flex;
	flex-wrap: wrap;
	max-width: calc(20% + 1040px);
	margin: 0 auto;
	justify-content: center;
	.semi-circle-progress-bar-wrapper-vc{
		margin: 0 2.5%;
	}
}
// Progress Bar Style
.semi-circle-progress-bar-wrapper-vc {
	text-align: center;

	.vc-semi-circle-progress-bar{
		display: inline-block;
		position: relative;
		text-align: center;
		.barOverflow{
			position: relative;
			overflow: hidden;
			width: 260px; height: 130px;
			margin-bottom: -14px;
		}
		.bar{
				 position: absolute;
				 top: 0; left: 0;
				 width: 260px; height: 260px;
				 border-radius: 50%;
				 box-sizing: border-box;
				 border: 45px solid rgba(211, 211, 211, 0.3);
				 transform: rotate(45deg);
		}
		span{
			font-size: 33px;
			top: -15px;
			position: relative;
			&:after{
				margin-left: 3px;
			}
			&:before{
				margin-right: 3px;
			}
		}
		.title-text{
			font-size: 17px;
			color: #fff;
		}
	}
}