.fl-team-slider-content-vc{
  .fl-team-slider{
    position: relative;
    .slick-list{
      position: relative;
      display: block;
      overflow: hidden;
      margin: 0;
      padding: 25px 15px 35px;
    }
    .team-slider-slide{
      float: left;
      margin-bottom: 35px;
      padding-bottom: 80px;
      .slider-entry-content{
        margin-right: 15px;
        margin-left: 15px;
        padding: 45px 45px 35px;
        background-color: #f2f6f7;
        transition: all .3s;
        text-align: center;
        &:hover{
          border-color: transparent;
          background-color: #fff;
          box-shadow: 0 5px 30px 5px rgba(0, 0, 0, 0.12);
        }
        .team-slider-image{
          margin-bottom: 30px;
        }
        .team-slider-name{
          color: #222222;
          font-size: 17px;
        }
        .team-slider-profession{
          margin-top: 5px;
          color: #666666;
          font-size: 14px;
          line-height: 1;
        }
        .team-social{
          margin-top: 30px;
          text-align: center;
          li{
            display: inline-block;
            a{
              display: flex;
              padding: 0 15px;
              font-size: 16px;
              color: #cccccc;
              transition: .3s ease;
              &:hover{
                transition: .3s ease;
              }
            }
          }
        }
      }
    }
    // Dots
    .slick-dots{
      position: absolute;
      width: 100%;
      bottom: 0;
      transform: translateY(-100%);
      text-align: center;
        li{
        display: inline-block;
        button{
          font-size: 0;
          min-height: auto;
          margin: 0;
          padding: 0 10px;
          &:before{
            width: 10px;
            height: 10px;
            content: '';
            border-radius: 50%;
            background: #eeeeee;
            display: inline-block;
            transition: .3s ease;
          }
          &:hover{
            &:before{
              transition: .3s ease;
            }
          }
        }
        &.slick-active{
          button{
            &:before{
              transition: .3s ease;
            }
          }
        }
      }
    }
    // Arrow
    .slick-arrow{
      position: absolute;
      top: auto;
      bottom: 0;
      transform: translate(0,-50%);
      transition: all .3s;
      cursor: pointer;
      z-index: 1;
      color: transparent;
      height: 40px;
      background: 0 0;
      border: none;
      font-size: 0;
      line-height: 0;
      display: block;
      padding: 0;
      &:before{
        content: '';
        color: #ccc;
        width: 24px;
        height: 24px;
        display: block;
        border-left: 2px solid #ccc;
        border-top: 2px solid #ccc;
        transition: .3s ease;
      }
      &:after{
        content: '';
        width: 33px;
        height: 2px;
        display: inline-block;
        position: absolute;
        top: calc(50% - 1px);
        transition: .3s ease;
        background: #ccc;
      }
      &.slick-prev{
        left: calc(50% - 159px);
        &:after{
          left: calc(100% - 12px);
        }
        &:before{
          transform: rotate(-45deg);
          margin-left: 20px;
        }
      }
      &.slick-next{
        right: calc(50% - 149px);
        &:after{
          right: calc(100% - 12px);
        }
        &:before{
          transform: rotate(135deg);
          margin-right: 20px;
        }
      }
    }

  }
}