.fl-vc-vehicle-search{
  .home-pixad-filter{
    margin-bottom: 70px;
    .list-categories{
      text-align: center;
      .list-categories__item{
          display: inline-flex;
        input{
          display: none;
        }
        label{
          margin-right: 5px;
          margin-left: 5px;
          cursor: pointer;
          padding: 10px 20px;
          border: 2px solid transparent;
          border-radius: 2px;
          transition: .3s ease;
          .body-icon-wrapper{
            i{
              font-size: 70px;
              line-height: .8;
              opacity: .4;
              color: #ccc;
              transition: all .3s ease;
            }

          }
          .body-icon-wrapper{
            display: block;
          }
          .auto_body_name{
            display: block;
            line-height: 1;
            font-size: 11px;
            color: rgba(255, 255, 255, 0.4);
            text-transform: uppercase;
          }
        }
        input[type=checkbox]:checked+label{
          .body-icon-wrapper{
            i{
              opacity: 1;
              color: #fff;
              transition: all .3s ease;
            }
          }
        }
        &:hover{
          label{
            transition: .3s ease;
          }
          .body-icon-wrapper{
            i{
              opacity: 1;
              color: #fff;
              transition: all .3s ease;
            }
          }
        }
      }
    }
  }
  .vc-auto-search{
    display: flex;
    align-items: flex-end;
    padding: 60px 50px;
    background: #fff;
    box-shadow: 0 5px 35px 5px rgba(0, 0, 0, 0.12);
    .select{

      width: 100%;
      margin-right: 5px;
      .home-search-label{
        font-size: 14px;
        line-height: 1;
        margin-bottom: 15px;
      }
      .jelect-current{
        background: #f2f6f7!important;
        color: #666666;
        border: none;
        transition: .3s ease;
        min-height: 60px;
        display: flex;
        align-items: center;
        &:after{
          color: #222222;
        }
        &:hover{
          box-shadow: 0 8px 22px 0 rgba(0,0,0,.1)!important;
          transition: .3s ease;
          background: #fff!important;
        }
      }
    }
    .btn{
      padding: 0;
      margin: 0;
      button{
        min-height: 60px;
        min-width: 175px;
      }
    }
  }
}