html body .fc-scroller{
  height: auto!important;
}

.fc-unthemed th, .fc-unthemed td, .fc-unthemed hr, .fc-unthemed thead, .fc-unthemed tbody, .fc-unthemed .fc-row, .fc-unthemed .fc-popover{
  border-color: #ddd!important;
  background: transparent!important;
  color: #222222!important;
}